<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.ui.cs.mobileprogramming.aryodh.recipedia">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RecipeBookActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".RecipeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".RecipeRunActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".RecipeFinishActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ChefActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".NoteActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".NoteAddActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver
            android:name=".RecipeBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>